/Conta-Banco/nbproject/private/
/Conta-Banco/build/
/DesafioControleFluxo/target/
/backu0p/Conta-Banco/build/
/backu0p/Conta-Banco/nbproject/private/
/backu0p/DesafioControleFluxo/target/
/Collections-Java/target/
/Operacoes-Basicas-List-ListaTarefas/target/
/Collections-Java/Operacoes-Basicas-List-ListaTarefas/target/
/Collections-Java/Basic-Operations-List-TaskList/target/
/Collections-Java/Basic-Operations-List-Shopping-Cart/target/
/Collections-Java/Search-List-Sum-of-Numbers/target/
/Collections-Java/Basic-Operations-Set-Unique-Words-Set/target/
/Collections-Java/Basic-Operations-Map-Dictionary/target/
/Collections-Java/Search-Map-WordCount/target/
/Collections-Java/Order-Map-Online-Bookstore/target/
/Basic-Challenges/Conta-Banco/nbproject/private/
/Stream-API-Challenges/target/
